.monthView {
    height: 100%;
    overflow-x: scroll;
    position: relative;
}

.monthTile {
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.sideLandscape {
    position: absolute;
    z-index: -1;
    bottom: -5%;
    left: -20%;
}

.sideImage {
    height: 95vh;
}

.rockImgContainer {
    position: absolute;
    z-index: -1;
    bottom: -20%;
    left: 0;
    transform: rotate(-45deg);
}

.rockImage {
    width: 20vw;
}

.animationContainer {
    position: absolute;
    z-index: -1;
}

.butterfly1 {
    top: -10%
}

.butterfly3 {
    top: 0;
    left: 10%
}

.butterfly2 {
    bottom: 0;
}