.weekView {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.mainContainer {
    display: flex;
    flex: 1;
}

.DateNumberContainer {
    flex: 1;
    position: relative;
}


.DateNumber {
    padding: 15px;
    width: 26px;
    height: 26px;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -13px;
    left: calc(50% - 13px);
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #fff;
    transition: transform 0.3s ease;
}

.DateNumber:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.selectedDate {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.currentDate {
    box-shadow: 0 4px 12px #000;
    background-color: #000;
    color: #fff;
}

.currentDate:hover {
    box-shadow: 0 4px 12px #000;
}

.timeBlockContainer {
    height: 100%;
}

.timeBlock {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeBlockQuater {
    height: 25px;
}

.timeBlockQuater:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.timeBlockGuide {
    position: absolute;
    top: -10px;
    left: -30px;
    font-size: 10px;
    background-color: #fff;
    padding: 5px;
}