.weekView {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.mainContainer {
    display: flex;
    flex: 1;
}

.DateNumberContainer {
    flex: 1;
    position: relative;
}


.DateNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;

    @media screen and (max-width:430px) {
        font-size: 1.5rem;
    }
}

.weekHead {
    position: absolute;
    bottom: 5px;
    left: 33%;
    text-align: center;
    z-index: 100;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;

    @media screen and (max-width:430px) {
        font-size: 0.5rem;
    }

}

.DateNumber:hover {}

.selectedDate {}

.currentDate {}

.currentDate:hover {}

.timeBlockContainer {
    height: 100%;
}

.timeBlock {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeBlockQuater {
    height: 25px;
}

.timeBlockQuater:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.timeBlockGuide {
    position: absolute;
    top: -10px;
    left: -30px;
    font-size: 10px;
    background-color: #fff;
    padding: 5px;
}