.weekView {
    height: 100%;
    overflow: scroll;
}

.mainContainer {
    display: flex;
    flex: 1;
    padding-bottom: 20px;
}

.DateNumberContainer {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.DateNumberContainer:first-of-type {
    padding-left: 30px;
}


.DateNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-style: italic;
    font-weight: bold;
    font-size: 2.5rem;
    position: relative;
    border-bottom: 4px solid transparent;

    @media screen and (max-width:430px) {
        font-size: 1.5rem;
    }
}

.DateNumber:hover {
    transform: scale(1.1);
}

.selectedDate {
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.currentDate {
    border-bottom: 4px solid rgba(0, 0, 0, 1);
}

.weekHead {
    position: absolute;
    bottom: 5px;
    left: 33%;
    text-align: center;
    z-index: 100;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;

    @media screen and (max-width:430px) {
        font-size: 0.5rem;
    }
}

.timeBlockContainer {
    height: 100%;
}

.timeBlock {
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.timeBlockQuater {
    height: 25px;
    padding: 2px;
    display: flex;
    gap: 5px;
}

.event {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    padding: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    flex: 1;
    border-radius: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0em;
    height: fit-content;
    height: 100%;
}

.event:hover {
    transform: scale(0.9);
}


.timeBlockQuater:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.timeBlockGuide {
    position: absolute;
    top: -10px;
    left: -30px;
    font-size: 10px;
    background-color: #fff;
    padding: 5px;
}