.week {
    display: flex;
    position: relative;
    margin-top: 10px;
    width: 100%;
}

.headsOfWeek {
    padding: 10px;
    flex: 1;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    text-align: center;
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #000, 1px -1px 1px #000, -1px 1px 1px #000;

    @media screen and (max-width:430px) {
        font-size: 0.5rem;
    }
}