.week {
    display: flex;
    position: relative;
    margin-top: 10px;
    width: 100vw;
}

.headsOfWeek {
    padding: 10px;
    border: none !important;
    flex: 1;
    font-size: larger;
}

.monthView {
    font-style: italic;
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}