.Calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.week {
    width: 700px;
    display: flex;
    /* border: 1px solid black; */

    .day {
        flex: 1;
        height: 100px;
        border: 1px solid black;
        text-align: right;
        padding: 10px;
    }

    .day:hover {
        background-color: beige
    }
}