.monthHead {
    padding: 10px;
    font-size: larger;
    display: flex;
    align-items: center;

    .btnWrapper {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btns {
        outline: none;
        /* padding: 10px 20px; */
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: rgba(1, 1, 1, 0.4);
        cursor: pointer;
        border: 1px solid rgba(1, 1, 1, 0.4);
        padding: 4px;
    }


    .btns:hover {
        color: rgba(1, 1, 1, 0.8);
    }

    .headerText {
        flex: 1;
        text-align: center;
    }
}