.monthHead {
    padding: 10px;
    font-size: larger;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btns {
        outline: none;
        padding: 10px 20px;
        border: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        color: rgba(1, 1, 1, 0.2);
    }

    .outline {
        border: 1px solid rgba(1, 1, 1, 0.2);
    }

    .btns:hover {
        color: rgba(1, 1, 1, 0.5);
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 15px;
    }

    .createEventFAB {
        position: absolute;
        bottom: 40px;
        right: 40px;
        padding: 10px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.6);
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        z-index: 100;

        @media screen and (max-width: 430px) {
            bottom: 5px;
            right: 5px;
        }
    }
}