@keyframes floatX {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    50% {
        transform: translateX(-10px) rotate(2deg);
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}


.loginView {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.inputComp {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: floatX 4s infinite ease-in-out alternate;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 5px
}

.inputComp:hover {
    transform: scale(1.05);
}

.actionSection {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px
}

.toggleViewBtn {
    font-size: 14px;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    transition: 0.3s;
}

.toggleViewBtn:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
}

.errorText {
    color: red;
    font-size: 12px;
}