* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #1E0123;
    --secondary: #C5FF00
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection {
    /* Code for Firefox */
    color: var(--background);
    background: var(--secondary);
}

::selection {
    color: var(--background);
    background: var(--secondary);
}

body {
    overflow: hidden;
}